---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tech Circle Expo">
	<main>
		<p>
			Welcome to Astro. This is a simple Astro app with a layout component.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #111;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
